<form name="form2" method="post" action="/PubAction.aspx">
<li>
 <input name="PubTitle" type="hidden" id="PubTitle" size="50">
      <input type="hidden" name="PubID" id="PubID" value="2"></td>
      <input type="hidden" name="PubContentid" id="PubContentid" value="{PubContentid/}"></td>
    </tr>
    <tr>
      <td bgcolor="#FFFFFF">留言内容：</td>
      <td bgcolor="#FFFFFF"><textarea name="PubContent" cols="50" rows="10" id="PubContent"></textarea></td>
    </tr>
     <tr>
      <td colspan="2" align="center" bgcolor="#FFFFFF">
       <input type="submit" name="button2" id="button2" value="提交"><input type="reset" name="button" id="button" value="重置"></td>
    </tr>
  </table>
</form>